#friend-activities
  %ul
    %li
      .friend-activity
        .user-name= "Jon Erik Suero"
        .user-id.hide= "3"
        .activity
          I want to go skiing!
          %a.hashtag= "#skiing"
        %span.user-profile-pic
          %img{:src => 'http://graph.facebook.com/jonerik.suero/picture'}
    %li
      .friend-activity
        .user-name= "Rushab Kumar"
        .user-id.hide= "4"
        .activity
          I want to go ski at the Alps
          %a.hashtag= "#skiing"
        %span.user-profile-pic
          %img{:src => 'http://graph.facebook.com/rushab.kumar.1/picture'}
    %li
      .friend-activity.selected
        .user-name= "Jaime Barriga"
        .user-id.hide= "5"
        .activity
          Learn to ski.
          %a.hashtag= "#skiing"
        %span.user-profile-pic
          %img{:src => 'http://graph.facebook.com/JaimeBarriga33/picture'}
    %li
      .friend-activity
        .user-name= "Pranay Kumar"
        .user-id.hide= "6"
        .activity
          Go to France and ski
          %a.hashtag= "#skiing"
        %span.user-profile-pic
          %img{:src => 'http://graph.facebook.com/pranay.ujain/picture'}

  .facebook-container
    %a{:href => "/auth/facebook"}
      #create_event.facebook-login
        .spinner
        .separator
        .text= "Event"
