#friend_activities
  %ul
    %li
      .friend_activity
        .user_id= "233"
        .user_name= "OldName233"
        .user_profile_pic= "OldPic233"
        .activity= "OldActivity233"
    %li
      .friend_activity
        .user_id= "23"
        .user_name= "OldName23"
        .user_profile_pic= "OldPic23"
        .activity= "OldActivity23"
    %li
      .friend_activity
        .user_id= "43"
        .user_name= "OldName43"
        .user_profile_pic= "OldPic43"
        .activity= "OldActivity43"