- content_for :title, "Dashboard"

#global-container
	%header.dashboard-header
		.left
			%span=current_user.name
		%a#sign_out{:href => signout_path}
			= "Sign out"
		%p#user_id.hide{:hidden => ""}= current_user.id
	%div.page-wrap
		%section.your-bucket-list
			%div.list
				%header#header
					%form#add-new-item{:autocomplete => "off"}
						%input.bucket-list-explore{:autofocus => "", :placeholder => "What do I want to do?"}
				%section.items
					%ul#todo-list
						- @activities.each do |activity|
							%li
								.view
									%input.toggle{:type => "checkbox"}
										%label=activity.desc
									%form
										%input.edit{:type => "text"}
		%section.dashboard
			%header#tag-selected{:data => {'tag-id' => 1}}
				%a.hashtag= "#skiing"
			= render "friend_activities"
			= render "templates/friend_activity"
		%div.vertical-line
		%section.suggestions
