- content_for :title, "Dashboard"

= render "authentication_facebook"


%h4
  = "Profile"
%p
  = @user.profile

%h4
  = "Friends"
%p
  = @user.friends

%h4
  = "Friends Who Installed App"
%p
  = @user.friends_who_installed_app



= render "bucket_list"
= render "friend_activities"
= render "templates/friend_activity"