- content_for :title, "Dashboard"

#global-container
	%header.dashboard-header
		.left
			%span=current_user.name
		%a#sign_out{:href => signout_path}= "Sign out"
		%p#user_id{:hidden => ""}= current_user.id
	%div.page-wrap
		%section.your-bucket-list
			%div.list
				%header#header
					%form#add-new-item{:autocomplete => "off"}
						%input.bucket-list-explore{:autofocus => "", :placeholder => "What do I want to do?"}
				%section.items
					%ul#todo-list
						- @activities.each do |activity|
							%li{"data-id" => activity.id, "data-tag-id" => activity.tag_id, "class" => activity.get_state}
								.view
									%input.toggle{:type => "checkbox", :checked => activity.state}
										%label=activity.description_with_link.html_safe
									%form
										%input.edit{:type => "text"}
		%section.dashboard
			%header#tag-selected{:data => {'tag-id' => -1}}
				%a.hashtag= "interBucket"
			= render "friend_activities"
			= render "templates/friend_activity"
			%div#myModal.reveal-modal{:data => {"reveal" => true}}
				%a.close-reveal-modal
				%form
					.row.eventRow
						.large-12.columns
							%label Event name
							%input{placeholder: "Enter a name for your event", type: "text", name: "eventName"}
					.row.eventRow
						.large-12.columns
							%label Event date
							%input{placeholder: "Enter a date for your event", type: "text", name: "eventDate"}
				.facebook-container.createEvent
					%a{:href => "#"}
						#create_event_button.facebook-login
							.spinner
							.separator
							.text= "Confirm"			
			%button#addEvent{type: "button"} Add an Event
		%div.vertical-line
		%section.suggestions
			%div.sug_title= "Suggestions"
			%div.content

